{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <!--navbar section-->
    <nav id="navbar" class="flex s-around bf-color">
        <div class= "left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <li><a href ="#home" class="t-white roboto">Home<i class="fa-solid fa-house"></i></a></li>
            <li><a href ="#about" class="t-white roboto">About Me<i class="fa-solid fa-"></i></a></li>
            <li><a href ="#skills" class="t-white roboto">Skills<i class="fa-solid fa-code"></i></a></li>
            <li><a href ="#projects" class="t-white roboto">Project<i class="fa-solid fa-project-diagram"></i></a></li>
            <li><a href ="#Contact" class="t-white roboto">Contact<i class="fa-solid fa-rocket"></i></a></li>
        </div>
    </nav>

    <!--home section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flext items-center">
            <h6 class="popinss">Hi , i'm </h6>
            <h1 class="t-white">Onkar Ghadigaonkar</h1>
            <h4 class="popinss">Software Developer</h4>
            <a href="{% static 'pdf/Onkar CV.pdf' %}" target="_blank">
                <button class="btn popinss">Resume</button>
            </a>
            <a class="btm live popinss" id="hireme" href=""
            target="_blank">lets talk</a>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
                <img src="{% static 'images/1.png'%}" target="_blank">
            </div>
        </div>
    </section>


    <!--about section -->

    <section id="about">
        <h1 class= "t center my-2 t-white f-2">About <Menu></Menu></h1>
        <div class="about-container flex s-around">
            <div class=" about-left flex s-center items-center">
                <img src="{% static 'images/2.png'%}" alt="image">
            </div>
        </div>

        <div class="about-right flex">
            <h1 class="t-white m-b-1 popinss">Onkar Ghadigaonkar</h1>
            <p class="t-white  popinss"> Dynamic Backend and Python Developer adept at crafting scalable backend solutions and harnessing the power of
                Python frameworks to drive innovation. Collaborative team player with a knack for integrating AI and machine learning
                technologies into backend systems, enhancing functionality and performance.</p>
                <a href="btn" id="hireme" href="">Hire Me</a>
        </div>
    </section>
        
<!--about section -->

    <section id = "Skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-centainer flex s-around h-50">
            <div class="skills-left flex s-center items-center">
                <img src="{% static 'images/3.png'%}" alt="skills image">
            </div>
            <div class="skills-right flex items-center">
                <div class="Skills-contanier">
                    <div class="python bar p-relative"><span class="bar-content left t-white">Python</span>
                        <spanc class="bar-content right-skills t-white">90%</span></div>

                    <div class="html bar p-relative"><span class="bar-content left t-white">HTML</span>
                        <spanc class="bar-content right-skills t-white">90%</span></div>

                    <div class="css bar p-relative"><span class="bar-content left t-white">CSS Java</span>
                        <spanc class="bar-content right-skills t-white">90%</span></div>

                    <div class="js bar p-relative"><span class="bar-content left t-white">Javascript</span>
                        <spanc class="bar-content right-skills t-white">90%</span></div>

                    <div class="sql bar p-relative"><span class="bar-content left t-white">SQL</span>
                        <spanc class="bar-content right-skills t-white">90%</span></div>
                </div>
            </div>
        </div> 
    </section>

<!--about section -->

    <section id="Project">
        <h1 class="t-center my-2 t-white f-2"Project></h1>
        <div class="project-contanier flex s-center">
            <div class="project-item flex f-col s- center items-center">
                <h1 class="t-white popinss">Raspberry Pi People Count for Retail Shop</h1>
                <p class="t-white popinss">1:Develop software to interface Raspberry Pi devices with sensors or cameras for people counting.
                    2:Process and analyze data to accurately count the number of people entering and exiting the shop.
                    3:Provide real-time analytics for monitoring and historical analytics for trend analysis.
                    4:Collaborate with hardware engineers for seamless integration and optimize software performance for Raspberry
                    Pi devices.</p>
                    <div class="buttom flex s-around">
                        <a href="" target="_blank"
                        class="btn mx-1 m-top">Github</a>
                </div>
            </div>
            

            
                <div class="project-item flex f-col s- center items-center">
                    <h1 class="t-white popinss">Text To Image Synthesis using Stack Gan</h1>
                    <p class="t-white popinss"> 1:Associated With Mithibai College
                        2:It ismyResearch project for Msc Computer Science
                        3:Giventextual description generating photo-realistic images using GAN</p>
                        <div class="buttom flex s-around">
                            <a href="" target="_blank"
                            class="btn mx-1 m-top">Github</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

        <!--Contact section -->

    <section id="Contact" class="m-b-1">
        <h1 class="t-center my-2 t-white f-2">Contact Me</h1>
        <div clas="Contact-contanier flex s-around items-center">
            <div class="form" id="contactform">
                <form method="post">
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="popinss" placeholder="Enter your name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="email" class="popinss" placeholder="Enter your email"required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="email" class="popinss" placeholder="Enter your phone"required>
                    </div>

                    <div class="textarea form-div">
                        <textarea name="content" id="textarea"  cols="30"  rows="10" class="popinss" placeholder="Enter your message"></textarea>

                    </div>
                    <button type= "submit " class="btn popinss" id="submit">send</button>
                </form>
            </div>
        </div>
    </section>

    <!--Contact section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="popinss">Home</a></li>
            <li><a href="#about" class="popinss">About Me</a></li>
            <li><a href="#skills" class="popinss">Skills</a></li>
            <li><a href="#projects" class="popinss">Project</a></li>
            <li><a href="#portfolio" class="popinss">Portfolio</a></li>
        </ul>

        
        <ul class="flex s-center w-80 font-awesome">
            <a href="" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>

            <a href="" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>

            <a href="" target="_blank">
                <li><i class="fa-brands fa-instagram"></i></li>
            </a>

        </ul>
        <p class="t-center my-2 popinss">copy; All Right Reserved -<span class="cpy-white popins">Error By Onkar Ghadigaonkar</span></p>
    </footer>


</body>
</html>
